*.log
*.o
*.py[co]
*.swp
*.trs
.deps
.idea
.dirstamp
Makefile
Makefile.in
__pycache__
CMakeFiles/
CMakeCache.txt
aclocal.m4
autom4te.cache/
compile
config.*
configure
core.*
depcomp
install-sh
massif.out.*
missing
perf.data
src/stathasher
src/statsrelay
stamp-*
stresstest
test-driver
test/devnull
test_hashlib
test_hashring
test_stats
statsrelay
stathasher
stresstest
*.cmake

